---
import Layout from '../../layouts/Layout.astro';
import { useTranslations } from '../../i18n/utils';

const lang = 'en';
const t = useTranslations(lang);
---

<Layout title={t('nav.donations')} description={t('meta.donations.description')}>
	<h1>{t('nav.donations')}</h1>
	<p>Donation information coming soon.</p>
</Layout>
