---
import Layout from '../../layouts/Layout.astro';
import { useTranslations } from '../../i18n/utils';

const lang = 'en';
const t = useTranslations(lang);
---

<Layout title={t('nav.gallery')} description={t('meta.gallery.description')}>
	<h1>{t('nav.gallery')}</h1>
	<p>Gallery content coming soon.</p>
</Layout>
